@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins-Regular;
  src: url("/Fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: IDGroteskTrial-Regular;
  src: url("/Fonts/IDGroteskTrial-Regular-BF64ffd9541f2d0.ttf");
}

body {
  background-color: black;
  font-family: Poppins-Regular;
}

.headings {
  font-family: IDGroteskTrial-Regular !important;
}

@media screen and (max-width: 710px) {
  .res-sm-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 711px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .res-sm-text {
    font-size: 12px;
  }
}

.text-grad {
  background: linear-gradient(90deg, #FFF1E6 10.4%, #FF5A4A 46.8%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(to bottom, black, #101828);
}